body {
    background-color: #b3bddf;
  }

  h1 {
      font-size: 30px;
      
  }
  .login-form {
    margin: 250px auto;
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }

  .form-group {
    margin-bottom: 20px;
    
  }

  .form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f2f2f2;
    font-size: 16px;
  }

  .btn {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
  }